{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Зміна кількості{% endblock meta_title %}

{% block content %}

<form  action="{% url 'add_item_change' item.id %}" method="post">

    {% csrf_token %}

    <div class="row">
        <div class="nine columns">
            <h5>{{ item.title }} {{ item.part_number }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="three columns">
            <label for="additional_quantity">Кількість</label>
            <input class="u-full-width" type="number" step=any
                   id="additional_quantity" name="additional_quantity"
                   value="{{ request.POST.additional_quantity }}" >
        </div>
        <div class="three columns">
            <span class="error">{{ error }}</span>
        </div>
    </div>
    <div class="row">
        <div class="tvelwe columns">
            <label for="notes">Коментар</label>
            <textarea class="u-full-width" type="text"
                   id="notes" name="notes"
                   value="{{ request.POST.notes }}">
            </textarea> 
        </div>
    </div>
    <div class="row">
        <div class="three columns">
            <input class="button-primary" type="submit" value="Внести зміну">
        </div>
    </div>
</form>

{% endblock content %}