{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% load items_filters %}

{% block meta_title %}Додати трос ТЗА{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
    <div class="nine columns"><h5>Додати трос ТЗА</h5></div>
</div>
{% endblock header %}

{% block content %}

<form  action="{% url 'add_tza_cable' %}" method="post">

{% csrf_token %}

{{ form.non_field_errors }}

    <div class="row">
        <div class="two columns">{{ form.conduit.label_tag }}</div>
        <div class="ten columns">{{ form.conduit|addclass:"u-full-width" }}</div>
        {{ form.conduit.errors }}
    </div>

    <div class="row">
        <div class="two columns">{{ form.core.label_tag }}</div>
        <div class="ten columns">{{ form.core|addclass:"u-full-width" }}</div>
        {{ form.core.errors }}
    </div>

    <div class="row">
        <div class="two columns">{{ form.is_st_rods.label_tag }}</div>
        <div class="ten columns">{{ form.is_st_rods }}</div>
        {{ form.is_st_rods.errors }}
    </div>

    <div class="row">
        <div class="two columns">{{ form.length.label_tag }}</div>
        <div class="ten columns">{{ form.length|addclass:"u-full-width" }}</div>
        {{ form.length.errors }}
    </div>

    <div class="row">
        <div class="two columns">.</div>
        <div class="three columns">
            <input class="button-primary" type="submit" value="Підтвердити">
        </div>
    </div>

</form>

{% endblock content %}