{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <title>Склад - {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- TODO: Favicon -->

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/skeleton.css' %}" />
    {% block extra_css %}{% endblock extra_css %}
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}" />

</head>
<body>

    <!-- start container -->
    <div class="container">

        {% block navigation %}
        <!-- navigation -->
        <div class="row" id="navigation">
            <div class="u-full-width">
                <ul class="nav-menu">
                    {% url 'main' as main_path %}
                    <li role="presentation" {% if request.path == main_path %}class="nav-active"{% endif %}>
                        <a href="{% url 'main' %}">Склад</a>
                    </li>
                    {% url 'items_by_dates' as items_by_dates_path %}
                    <li role="presentation" {% if items_by_dates_path in request.path %}class="nav-active"{% endif%}>
                        <a href="{% url 'items_by_dates' %}">Склад по датах</a>
                    </li>
                    {% url 'items_by_categories' as items_by_categories_path %}
                    <li role="presentation" {% if items_by_categories_path in request.path %}class="nav-active"{% endif%}>
                        <a href="{% url 'items_by_categories' %}">Склад по категоріях</a>
                    </li>
                    <li>|</li>
                    {% url 'products' as products_path %}
                    <li role="presentation" {% if products_path in request.path %}class="nav-active"{% endif%}>
                        <a href="{% url 'products' %}">Вироби</a>
                    </li>
                    <li>|</li>
                    {% url 'orders' as orders_path %}
                    <li role="presentation" {% if orders_path in request.path %}class="nav-active"{% endif%}>
                        <a href="{% url 'orders' %}">Замовлення</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock navigation %}

        {% block header %}{% endblock header %}

        <!-- status message-->
        {% block status_message %}
        <div class="row" id="status_message">
            <div class="u-full-width">
                {% if request.GET.status_message %}
                <div class="alert">{{ request.GET.status_message }}</div>
                {% endif %}
            </div>
        </div>
        {% endblock status_message %}

        <!-- main content -->
        {% block content %}{% endblock content %}

    </div><!-- end container -->

    <!-- javascript -->
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>