{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Склад по категоріях{% endblock meta_title %}

{% block subnavigation %}
  <div class="row" id="navigation">
    <div class="eight columns">
      <ul class="nav-menu">
        <li role="presentation">
          <a href="{% url 'item_list_by_dates' %}">Склад по датах</a>
        </li>
      </ul>
    </div>
    <div class="two columns u-pull-right">
      <a class="button button-primary u-full-width"
         href="{% url 'item_create' %}">
        Додати
      </a>
    </div>
  </div>
{% endblock subnavigation %}

{% block content %}

<div class="row"> <!-- for categories -->
  <div class="u-full-width">
    <ul class="nav-menu">
      {% for category in categories %}
        {% if not category.special %}
        <li role="presentation" {% if category.id == active_category.id %}class="nav-active"{% endif %}>
          <a href="{% url 'item_list' category.id %}">{{ category.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row"> <!-- for special categories -->
  <div class="u-full-width">
    <ul class="nav-menu">
      {% for category in categories %}
        {% if category.special %}
        <li role="presentation" {% if category.id == active_category.id %}class="nav-active"{% endif %}>
          <a href="{% url 'item_list' category.id %}">{{ category.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>-</th>
        <th>Найменування</th>
        <th>Індекс</th>
        <th>Наш індекс</th>
        <th>Примітка</th>
        {% if not active_category.special %}
        <th>Норма витрати, м</th>
        {% endif %}
        <th>Вага, кг</th>
        <th>К-сть</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>
          <ahref="{% url 'itemchange_create' item.id %}">&plusmn;</a>
        </td>
        <td><a href="{% url 'item_detail' item.id %}">{{ item.title }}</a></td>
        <td>{{ item.part_number }}</td>
        <td>{{ item.part_number2 }}</td>
        <td class="notes">
          {{ item.notes }}
        </td>
        {% if not item.category.special %}
        <td>{% if item.rate %}{{ item.rate }}{% endif %}</td>
        {% endif %}
        <td>{% if item.weight %}{{ item.weight }}{% endif %}</td>
        {% if item.current_total < item.critical_qty %}
        <td class="alert">
          {{ item.current_total|floatformat }}
        </td>
        <td>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 32 32" width="25">
                <g fill="none">
                    <g fill="#F00">
                        <path d="M14.4 6.1C15.3 4.7 16.7 4.7 17.6 6.1L28.4 23.6C29.5 25.5 28.7 27 26.5 27L5.5 27C3.3 27 2.5 25.5 3.6 23.6ZM16 20C16.6 20 17 19.5 17 19L17 13C17 12.4 16.6 12 16 12 15.4 12 15 12.5 15 13L15 19C15 19.6 15.4 20 16 20ZM16 24C16.6 24 17 23.6 17 23 17 22.4 16.6 22 16 22 15.4 22 15 22.4 15 23 15 23.6 15.4 24 16 24ZM16 24"/>
                    </g>
                </g>
            </svg>
        </td>
        {% else %}
        <td>{% if item.current_total %}{{ item.current_total|floatformat }}{% endif %}</td>
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
