{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Загальна інформація - {{ category.name }}{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="eight columns">
    <h5>{{ item.title }} / (<a href="{% url 'item_list' item.category.id %}">{{ item.category.title }}</a>)
    </h5>
  </div>
  <div class="two columns">
    <a class="button button-primary u-full-width"
       href="{% url 'item_update' item.id %}">
      Редагувати
    </a>
  </div>
  <div class="two columns">
    <a class="button button-danger u-full-width"
       href="{% url 'item_delete' item.id %}">
      Видалити
    </a>
  </div>
</div>
{% endblock header %}

{% block content %}
{% if item.part_number %}
<div class="row">
  <div class="two columns">Індекс</div>
  <div class="ten columns"><h5>{{ item.part_number }}</h5></div>
</div>
{% endif %}
{% if item.part_number2 %}
<div class="row">
  <div class="two columns">Наш індекс</div>
  <div class="ten columns"><h5>{{ item.part_number2 }}</h5></div>
</div>
{% endif %}
{% if item.rate %}
<div class="row">
  <div class="two columns">Норма витрати, м</div>
  <div class="ten columns"><h5>{{ item.rate }}</h5></div>
</div>
{% endif %}
{% if item.weight %}
<div class="row">
  <div class="two columns">Вага, кг</div>
  <div class="ten columns"><h5>{{ item.weight }}</h5></div>
</div>
{% endif %}
{% if item.critical_qty %}
<div class="row">
  <div class="two columns">Критична кількість</div>
  <div class="ten columns"><h5>{{ item.critical_qty|floatformat }}</h5></div>
</div>
{% endif %}
{% if item.notes %}
<div class="row">
  <div class="u-full-width"><p>{{ item.notes }}</p></div>
</div>
{% endif %}
{% if item.picture %}
<div class="row">
  <div class="u-full-width">
    <img src="{{ PORTAL_URL }}{{ item.picture.url }}">
  </div>
</div>
{% endif %}
{% endblock content %}
