{% extends 'items/base.html' %}

{% block meta_title %}Додати нову позицію на склад{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="nine columns"><h5>Додати нову позицію на склад</h5></div>
</div>
{% endblock header %}

{% block content %}
<form enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
  {% include "items/includes/render_fields.html" %}
  {% include "items/includes/button.html" with button_value="Підтвердити" %}
</form>
{% endblock content %}
