{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% load items_filters %}

{% block meta_title %}Склад по датах{% endblock meta_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/pikaday.css' %}" />
{% endblock extra_css %}

{% block subnavigation %}
  <div class="row" id="navigation">
    <div class="eight columns">
      <ul class="nav-menu">
        <li role="presentation" class="nav-active">
          <a href="{% url 'item_list_by_dates' %}">Склад по датах</a>
        </li>
      </ul>
    </div>
    <div class="two columns u-pull-right">
      <a class="button button-primary u-full-width"
         href="{% url 'item_create' %}">
        Додати
      </a>
    </div>
  </div>
{% endblock subnavigation %}

{% block content %}

<form  action="{% url 'item_list_by_dates' %}" method="post">

  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="row">
    <div class="one column">
      <label for="range_start" class="u-pull-right">від:</label>
    </div>
    <div class="three columns">{{ form.range_start|addclass:"u-full-width" }}</div>
    <span class="error">{{ form.range_start.errors }}</span>

    <div class="one column">
      <label for="range_stop" class="u-pull-right">до:</label>
    </div>
    <div class="three columns">{{ form.range_stop|addclass:"u-full-width" }}</div>
    <span class="error">{{ form.range_stop.errors }}</span>

    <div class="four columns">
      <input class="button-primary" type="submit" value="Показати">
    </div>
  </div>

</form>

{% if date_range %}
<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>-</th>
        <th>Найменування</th>
        {% for date in date_range %}
        <th>{{ date|date:'d . m' }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item, item_changes in items_list %}
      <tr>
        <td>
          <a href="{% url 'itemchange_create' item.id %}">&plusmn;</a>
        </td>
        <td>
          <a href="{% url 'item_detail' item.id %}">
            {{ item.title }} {{ item.part_number }}
          </a>
        </td>
        {% for date in date_range %}
        <td>
          {% for change in item_changes %}
          {% if change.changed_at|date == date|date %}
          <abbr title="{{ change.notes }}">
            <a href="{% url 'itemchange_detail' change.id %}">
              {{ change.additional_quantity|floatformat }}
            </a>&nbsp;
          </abbr>
          {% endif %}
          {% endfor %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}

{% endblock content %}

{% block extra_js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
  <script src="{{ PORTAL_URL }}{% static 'js/pikaday.js' %}"></script>
  <script>
    var rangeStart = new Pikaday({
      field: document.getElementById('id_range_start'),
      firstDay: 1,
      fomat: 'YYYY-MM-DD',
      minDate: new Date(2016, 0, 1),
      maxDate: new Date(2018, 12, 31),
    });
  {% if initial_range_start %}
    rangeStart.setDate('{{ initial_range_start }}');
  {% endif %}
    var rangeStop = new Pikaday({
      field: document.getElementById('id_range_stop'),
      firstDay: 1,
      fomat: 'YYYY-MM-DD',
      minDate: new Date(2016, 0, 1),
      maxDate: new Date(2018, 12, 31),
    });
  {% if initial_range_stop %}
    rangeStop.setDate('{{ initial_range_stop }}');
  {% endif %}
  </script>
{% endblock extra_js %}
