{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Інформація по зміні кількості{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="eight columns">
    <h5>
      <a href="{% url 'item_detail' item_change.item.id %}">
        {{ item_change.item.title }} {{ item_change.item.part_number }}
      </a>
    </h5>
  </div>
  {% if request.user.is_staff %}
    {% url 'itemchange_update' item_change.id as update_url %}
    {% include "items/includes/button_link.html" with button_url=update_url button_value="Редагувати" only %}
    {% url 'itemchange_delete' item_change.id as delete_url %}
    {% include "items/includes/button_link.html" with button_url=delete_url button_value="Видалити" only %}
  {% endif %}
</div>
{% endblock header %}

{% block content %}

<div class="row">
  <div class="two columns"><h6>Зміна кількості</h6></div>
  <div class="ten columns">
    <h5>{{ item_change.additional_quantity|floatformat }}</h5>
  </div>
</div>

<div class="row">
  <div class="two columns"><h6>Дата</h6></div>
  <div class="ten columns">
    <h5>{{ item_change.changed_at|date:'d.m.Y / F d (l)' }}</h5>
  </div>
</div>

{% if item_change.material %}
<div class="row">
  <div class="two columns"><h6>Матеріал</h6></div>
  <div class="ten columns">
    <h5>{{ item_change.material }}</h5>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="two columns"><h6>Коментар</h6></div>
  <div class="ten columns">
    <h5>{{ item_change.notes|linebreaks }}</h5>
  </div>
</div>

{% endblock content %}
