{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Склад по категоріях{% endblock meta_title %}

{% block subnavigation %}
  <div class="row" id="navigation">
    <div class="eight columns">
      <ul class="nav-menu">
        <li role="presentation">
          <a href="{% url 'item_list_by_dates' %}">Склад по датах</a>
        </li>
      </ul>
    </div>
    <div class="two columns u-pull-right">
      <a class="button button-primary u-full-width"
         href="{% url 'item_create' %}">
        Додати
      </a>
    </div>
  </div>
{% endblock subnavigation %}

{% block content %}

<div class="row"> <!-- for categories -->
  <div class="u-full-width">
    <ul class="nav-menu">
      {% for category in categories %}
        {% if not category.special %}
        <li role="presentation" {% if category.id == active_category_id %}class="nav-active"{% endif %}>
          <a href="{% url 'item_list' category.id %}">{{ category.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row"> <!-- for special categories -->
  <div class="u-full-width">
    <ul class="nav-menu">
      {% for category in categories %}
        {% if category.special %}
        <li role="presentation" {% if category.id == active_category_id %}class="nav-active"{% endif %}>
          <a href="{% url 'item_list' category.id %}">{{ category.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>-</th>
        <th>Найменування</th>
        <th>Індекс</th>
        <th>Наш індекс</th>
        <th>Примітка</th>
        <th>Норма витрати, м</th>
        <th>Вага, кг</th>
        <th>К-сть</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>
          <a class="item_link"
             href="{% url 'itemchange_create' item.id %}">
            &plusmn;
          </a>
        </td>
        <td>
          <abbr title="{{ item.notes }}">
            <a class="item_link"
               href="{% url 'item_detail' item.id %}">
              {{ item.title }}
            </a>
          </abbr>
        </td>
        <td>{{ item.part_number }}</td>
        <td>{{ item.part_number2 }}</td>
        <td class="notes">
          {{ item.notes }}
        </td>
        <td>{% if item.rate %}{{ item.rate }}{% endif %}</td>
        <td>{% if item.weight %}{{ item.weight }}{% endif %}</td>
        <td {% if item.current_total < 0 %}class="alert"{% endif %}>
          {{ item.current_total|floatformat }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
