{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Загальна інформація - {{ category.name }}{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
    <div class="nine columns"><h5>{{ item.title }} {{ item.part_number }}</h5></div>
</div>
{% endblock header %}

{% block content %}
{% if item.part_number2 %}
<div class="row">
    <div class="two columns">
        <h5>Наш індекс</h5>
    </div>
    <div class="ten columns">
        <h5>{{ item.part_number2 }}</h5>
    </div>
</div>    
{% endif %}
{% if item.picture %}
<div class="row">
    <div class="u-full-width">
        <img src="{{ PORTAL_URL }}{{ item.picture.url }}">
    </div>
</div>    
{% endif %}
{% if item.notes %}
<div class="row">
    <div class="u-full-width">
        <p>{{ item.notes }}</p>
    </div>
</div>
{% endif %}
{% endblock content %}