{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% load items_filters %}

{% block meta_title %}Склад по датах{% endblock meta_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/datepicker.min.css' %}" />
{% endblock extra_css %}

{% block subnavigation %}
  <div class="row" id="navigation">
    <div class="ten columns">
      <ul class="nav-menu">
        <li role="presentation" class="nav-active">
          <a href="{% url 'item_list_by_dates' %}">Склад по датах</a>
        </li>
        <li>|</li>
        <li role="presentation">
          <a href="{% url 'item_list_print' %}">Список для друку</a>
        </li>
      </ul>
    </div>
    {% url 'item_create' as create_url %}
    {% include "items/includes/button_link.html" with button_url=create_url button_value="Додати" only %}
  </div>
{% endblock subnavigation %}

{% block content %}

<form  action="{% url 'item_list_by_dates' %}" method="post" class="date-range">

  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="row">
    <div class="one column">
      <label for="range_start" class="u-pull-right">від:</label>
    </div>
    <div class="three columns">{{ form.range_start|addclass:"u-full-width" }}</div>
    <span class="error">{{ form.range_start.errors }}</span>

    <div class="one column">
      <label for="range_stop" class="u-pull-right">до:</label>
    </div>
    <div class="three columns">{{ form.range_stop|addclass:"u-full-width" }}</div>
    <span class="error">{{ form.range_stop.errors }}</span>

    <div class="four columns">
      <input class="button-primary" type="submit" value="Показати">
    </div>
  </div>

</form>

{% if date_range %}
<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>-</th>
        <th>Найменування</th>
        {% for date in date_range %}
        <th>{{ date|date:'d . m' }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item, item_changes in objects_list %}
      <tr>
        <td>
          <a href="{% url 'itemchange_create' item.id %}">&plusmn;</a>
        </td>
        <td>
          <a href="{% url 'item_detail' item.id %}">
            {{ item.title }} {{ item.part_number }}
          </a>
        </td>
        {% for date in date_range %}
        <td>
          {% for change in item_changes %}
          {% if change.changed_at|date == date|date %}
          <abbr title="{{ change.notes }}">
            <a href="{% url 'itemchange_detail' change.id %}">
              {{ change.additional_quantity|floatformat }}
            </a>&nbsp;
          </abbr>
          {% endif %}
          {% endfor %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}

{% endblock content %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
  <script src="{{ PORTAL_URL }}{% static 'js/datepicker.min.js' %}"></script>
  <script src="{{ PORTAL_URL }}{% static 'js/main_wdb.js' %}"></script>
{% endblock extra_js %}
