{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Склад по категоріях{% endblock meta_title %}

{% block subnavigation %}
  <div class="row" id="navigation">
    <div class="ten columns">
      <ul class="nav-menu">
        <li role="presentation">
          <a href="{% url 'item_list_by_dates' %}">Склад по датах</a>
        </li>
        <li>|</li>
        <li role="presentation">
          <a href="{% url 'item_list_print' %}">Список для друку</a>
        </li>
      </ul>
    </div>
    {% url 'item_create' as create_url %}
    {% include "items/includes/button_link.html" with button_url=create_url button_value="Додати" only %}
  </div>
{% endblock subnavigation %}

{% block content %}

{% include "items/includes/svg_warning_icon.html" %}

<div class="row"> <!-- for categories -->
  <div class="u-full-width">
    <ul class="nav-menu">
      {% for category in categories %}
        {% if not category.special %}
        <li role="presentation" class="{% if category.id == active_category.id %}nav-active{% endif %}">
          <a href="{% url 'item_list' category.id %}">{{ category.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row"> <!-- for special categories -->
  <div class="u-full-width">
    <ul class="nav-menu">
      {% for category in categories %}
        {% if category.special %}
        <li role="presentation" class="{% if category.id == active_category.id %}nav-active{% endif %}">
          <a href="{% url 'item_list' category.id %}">{{ category.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>-</th>
        <th>Найменування</th>
        <th>Індекс</th>
        <th>Наш індекс</th>
        <th>Примітка</th>
        {% if not active_category.special %}
        <th>Норма витрати, м</th>
        {% endif %}
        <th>Вага, кг</th>
        <th class="text-align-right">К-сть</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>
          <a href="{% url 'itemchange_create' item.id %}">&plusmn;</a>
        </td>
        <td><a href="{% url 'item_detail' item.id %}">{{ item.title }}</a></td>
        <td>{{ item.part_number }}</td>
        <td>{{ item.part_number2 }}</td>
        <td class="notes">
          {{ item.notes }}
        </td>
        {% if not item.category.special %}
        <td>{% if item.rate %}{{ item.rate }}{% endif %}</td>
        {% endif %}
        <td>{% if item.weight %}{{ item.weight }}{% endif %}</td>
        {% if item.current_total < item.critical_qty %}
        <td class="alert text-align-right">{{ item.current_total|floatformat }}</td>
        <td><svg height="24" width="25"><use xlink:href="#warning" /></svg></td>
        {% else %}
        <td class="text-align-right">{% if item.current_total %}{{ item.current_total|floatformat }}{% endif %}</td>
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
