{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Склад по датах{% endblock meta_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/pikaday.css' %}" />
{% endblock extra_css %}

{% block header %}Склад по датах{% endblock header %}

{% block content %}

<form  action="{% url 'items_by_dates' %}" method="post">
    {% csrf_token %}
    <div class="row">
        
        <div class="one column">
            <label for="range_start" class="u-pull-right">від:</label>
        </div>
        <div class="three columns">
            <input class="u-full-width" type="text"
                   id="range_start" name="range_start"
                   value="{{ request.POST.range_start }}" >
            <span class="error">{{ errors.range_start }}</span>
        </div>
        
        <div class="one column">
            <label for="range_stop" class="u-pull-right">до:</label>
        </div>
        <div class="three columns">
            <input class="u-full-width" type="text"
                   id="range_stop" name="range_stop"
                   value="{{ request.POST.range_stop }}" >
            <span class="error">{{ errors.range_stop }}</span>
        </div>
        
        <div class="four columns">
            <input class="button-primary" type="submit" value="Показати">
        </div>
    </div>
</form>
{% if date_range %}
<div class="row">
    <table class="u-full-width">
        <thead>
            <tr>
                <th>-</th>
                <th>Найменування</th>
                {% for date in date_range %}
                <th>{{ date|date:'d . m' }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a class="item_link"
                           href="{% url 'add_item_change' item.id %}">
                            &plusmn;
                        </a>
                    </td>
                    <td>
                        <a class="item_link"
                           href="{% url 'item_details' item.id %}">
                            {{ item.title }} {{ item.part_number }}
                        </a>
                    </td>
                    {% for date in date_range %}
                    <td>
                        {% for change in total_changes %}
                            {% if change.changed_at|date == date|date and item == change.item %}
                                <a class="item_link"
                                   href="{% url 'item_change_details' change.id %}">
                                    {{ change.additional_quantity }}
                                </a>&nbsp;
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock content %}

{% block extra_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="{{ PORTAL_URL }}{% static 'js/pikaday.js' %}"></script>
    <script>
        var rangeStart = new Pikaday({
            field: document.getElementById('range_start'),
            firstDay: 1,
            fomat: 'YYYY-MM-DD',
            minDate: new Date(2016, 0, 1),
            maxDate: new Date(2018, 12, 31),
        });
    {% if initial_range_start %}
        rangeStart.setDate('{{ initial_range_start }}');
    {% endif %}
        var rangeStop = new Pikaday({
            field: document.getElementById('range_stop'),
            firstDay: 1,
            fomat: 'YYYY-MM-DD',
            minDate: new Date(2016, 0, 1),
            maxDate: new Date(2018, 12, 31),
        });
    {% if initial_range_stop %}
        rangeStop.setDate('{{ initial_range_stop }}');
    {% endif %}
    </script>
{% endblock extra_js %}