{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Загальна інформація - {{ category.name }}{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="{% if request.user.is_staff %}eight{% else %}ten{% endif %} columns">
    <h5>{{ item.title }} /
      <a href="{% url 'item_list' item.category.id %}">{{ item.category.title }}</a>
    </h5>
  </div>
  {% url 'item_update' item.id as update_url %}
  {% include "items/includes/button_link.html" with button_url=update_url button_value="Редагувати" only %}
  {% if request.user.is_staff %}
    {% url 'item_delete' item.id as delete_url %}
    {% include "items/includes/button_link.html" with button_url=delete_url button_value="Видалити" only %}
  {% endif %}
</div>
{% endblock header %}

{% block content %}
{% if item.part_number %}
<div class="row">
  <div class="two columns">Індекс</div>
  <div class="ten columns"><h5>{{ item.part_number }}</h5></div>
</div>
{% endif %}
{% if item.part_number2 %}
<div class="row">
  <div class="two columns">Наш індекс</div>
  <div class="ten columns"><h5>{{ item.part_number2 }}</h5></div>
</div>
{% endif %}
{% if item.rate %}
<div class="row">
  <div class="two columns">Норма витрати, м</div>
  <div class="ten columns"><h5>{{ item.rate|floatformat:3 }}</h5></div>
</div>
{% endif %}
{% if item.weight %}
<div class="row">
  <div class="two columns">Вага, кг</div>
  <div class="ten columns"><h5>{{ item.weight|floatformat:3 }}</h5></div>
</div>
{% endif %}
{% if item.critical_qty %}
<div class="row">
  <div class="two columns">Критична кількість</div>
  <div class="ten columns"><h5>{{ item.critical_qty|floatformat }}</h5></div>
</div>
{% endif %}
{% if item.notes %}
<div class="row">
  <div class="u-full-width"><p>{{ item.notes|linebreaks }}</p></div>
</div>
{% endif %}
{% if item.picture %}
<div class="row">
  <div class="u-full-width">
    <img src="{{ PORTAL_URL }}{{ item.picture.url }}">
  </div>
</div>
{% endif %}
{% endblock content %}
