{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Загальна інформація{% endblock meta_title %}

{% block header %}Загально по складу{% endblock header %}

{% block content %}
{% for category in categories %}
<div class="row">
    <div class="two columns">
        <a class="button button-primary u-full-width"
           href="{% url 'category' category.id %}">{{ category.name }}</a>
    </div>
    <div class="ten columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>-</th>
                    <th>Найменування</th>
                    <th>Індекс</th>
                    <th>Наш індекс</th>
                    <th>К-сть</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    {% if item.category == category %}
                    <tr>
                        <td>
                            <a class="item_link"
                               href="{% url 'add_item_change' item.id %}">
                                &plusmn;
                            </a>
                        </td>
                        <td>
                            <a class="item_link"
                               href="{% url 'item_details' item.id %}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td>{{ item.part_number }}</td>
                        <td>{{ item.part_number2 }}</td>
                        <td>{{ item.current_total }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock content %}