{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Матеріали{% endblock meta_title %}

{% block subnavigation %}
  <div class="row" id="navigation">
    <div class="eight columns">
      <ul class="nav-menu">
        <li role="presentation">
          <a href="{% url 'material_list_by_dates' %}">Матеріали по датах</a>
        </li>
      </ul>
    </div>
    <div class="two columns u-pull-right">
      <a class="button button-primary u-full-width"
         href="{% url 'material_create' %}">
        Додати
      </a>
    </div>
  </div>
{% endblock subnavigation %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="warning" viewBox="0 0 32 32">
    <g fill="#F00">
      <path d="M14.4 6.1C15.3 4.7 16.7 4.7 17.6 6.1L28.4 23.6C29.5 25.5 28.7 27 26.5 27L5.5 27C3.3 27
               2.5 25.5 3.6 23.6ZM16 20C16.6 20 17 19.5 17 19L17 13C17 12.4 16.6 12 16 12 15.4 12 15 12.5 15
               13L15 19C15 19.6 15.4 20 16 20ZM16 24C16.6 24 17 23.6 17 23 17 22.4 16.6 22 16 22 15.4 22 15 22.4 15 23 15 23.6 15.4 24 16 24ZM16 24"/></g>
  </symbol>
</svg>

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>-</th>
        <th>Найменування</th>
        <th>Примітка</th>
        <th>Кількість</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for material in materials %}
      <tr>
        <td>
          <a href="{% url 'materialchange_create' material.id %}">&plusmn;</a>
        </td>
        <td>
          <a href="{% url 'material_detail' material.id %}">{{ material.title }}</a>
        </td>
        <td class="notes">{{ material.notes }}</td>
        {% if material.current_total < material.critical_qty %}
        <td class="alert">{{ material.current_total|floatformat }}</td>
        <td><svg height="24" width="25"><use xlink:href="#warning" /></svg></td>
        {% else %}
        <td>{% if material.current_total %}{{ material.current_total|floatformat }}{% endif %}</td>
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
