{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Додати зміну кількості{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="nine columns"><h5>{{ view.get_initial.object }}</h5></div>
</div>
{% endblock header %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% include "items/includes/render_fields.html" %}
  {% include "items/includes/button.html" with button_value="Підтвердити" %}
</form>
{% endblock content %}