{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Загальна інформація{% endblock meta_title %}

{% block header %}
<div class="row" id="navigation">
  <div class="eight columns">
    <h5>{{ object.title }}</h5>
    </div>
    <div class="two columns">
      <a class="button button-primary u-full-width"
         href="{{ view.url_for_update }}">
        Редагувати
      </a>
    </div>
    <div class="two columns">
      <a class="button button-danger u-full-width"
         href="{{ view.url_for_delete }}">
        Видалити
      </a>
    </div>
  </div>
{% endblock header %}

{% block content %}

<div class="row">
  <div class="two columns">Критична кількість</div>
  <div class="ten columns"><h5>{{ object.critical_qty|floatformat }}</h5></div>
</div>
{% if object.notes %}
<div class="row">
  <div class="two columns">Примітка</div>
  <div class="ten columns"><h5>{{ object.notes }}</h5></div>
</div>
{% endif %}

{% endblock content %}