{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Загальна інформація{% endblock meta_title %}

{% block header %}
<div class="row" id="navigation">
  <div class="{% if request.user.is_staff %}eight{% else %}ten{% endif %} columns">
    <h5>{{ object.title }}</h5>
  </div>
  {% include "items/includes/button_link.html" with button_url=view.url_for_update button_value="Редагувати" only %}
  {% if request.user.is_staff %}
    {% include "items/includes/button_link.html" with delete_url=view.url_for_delete  button_value="Видалити" only %}
  {% endif %}
</div>
{% endblock header %}

{% block content %}

<div class="row">
  <div class="two columns">Критична кількість</div>
  <div class="ten columns"><h5>{{ object.critical_qty|floatformat }}</h5></div>
</div>
{% if object.notes %}
<div class="row">
  <div class="two columns">Примітка</div>
  <div class="ten columns"><h5>{{ object.notes|linebreaks }}</h5></div>
</div>
{% endif %}

{% endblock content %}
