{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Підтвердження видалення{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
	<div class="nine columns">Підтвердження видалення <h5>{{ object }}</h5></div>
</div>
{% endblock header %}

{% block content %}
<form  action="" method="post">

{% csrf_token %}
{{ form.non_field_errors }}

	<div class="row">
		<div class="two columns">
			<input class="button-primary u-full-width" type="button" value="Відмінити" onclick="window.history.go(-1);">
		</div>
		<div class="two columns">
			<input class="button-danger u-full-width" type="submit" value="Видалити">
		</div>
	</div>

</form>
{% endblock content %}
