{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Додати нове замовлення{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
    <div class="nine columns"><h5>Додати нове замовлення</h5></div>
</div>
{% endblock header %}

{% block content %}

<form  action="{% url 'order_create' %}" method="post">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="row">
        <div class="two columns">{{ form.customer.label_tag }}</div>
        <div class="ten columns">{{ form.customer }}</div>
        {{ form.customer.errors }}
    </div>

    <div class="row">
        <div class="two columns">{{ form.product.label_tag }}</div>
        <div class="ten columns">{{ form.product }}</div>
        {{ form.product.errors }}
    </div>

    <div class="row">
        <div class="two columns">{{ form.quantity.label_tag }}</div>
        <div class="ten columns">{{ form.quantity }}</div>
        {{ form.quantity.errors }}
    </div>

    <div class="row">
        <div class="two columns">.</div>
        <div class="three columns">
            <input class="button-primary" type="submit" value="Додати нове замовлення">
        </div>
    </div>

</form>

{% endblock content %}