{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Перелік замовлень{% endblock meta_title %}

{% block header %}
<div class="row" id="navigation">
  <div class="eight columns">
    <ul class="nav-menu">
      {% url 'order_list' as order_list_active %}
      <li role="presentation" {% if order_list_active == request.path %}class="nav-active"{% endif %}>
        <a href="{% url 'order_list' %}">Активні</a>
      </li>
      {% url 'order_list' 'ready' as order_list_ready %}
      <li role="presentation" {% if order_list_ready in request.path %}class="nav-active"{% endif %}>
        <a href="{% url 'order_list' 'ready' %}">Готові</a>
      </li>
      {% url 'order_list' 'sent' as order_list_sent %}
      <li role="presentation" {% if order_list_sent in request.path %}class="nav-active"{% endif %}>
        <a href="{% url 'order_list' 'sent' %}">Відправлені</a>
      </li>
    </ul>
  </div>
  <div class="three columns u-pull-right">
    <a class="button button-primary u-full-width"
       href="{% url 'order_create' %}">Додати новe замовлення</a>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="u-full-width">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Замовник</th>
          <th>Дата замовлення</th>
          <th>Виріб</th>
          <th>Індекс</th>
          <th>Кількість</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>
              <a href="{% url 'order_detail' order.id %}">
                {{ order.customer }}
              </a>
            </td>
            <td>{{ order.order_date|date:'d.m.Y / D' }}</td>
            <td>
              <abbr title="{{ order.product.notes }}">
                <a href="{% url 'product_detail' order.product.id %}">
                   {{ order.product.title }}
                </a>
              </abbr>
            </td>
            <td>{{ order.product.part_number }}</td>
            <td>{{ order.quantity|floatformat }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
