{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Загальна інформація - Замовлення{{ category.name }}{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="{% if order.is_sent %}ten{% else %}eight{% endif %} columns">
    <h5>{{ order.customer }}</h5></div>

  {% if order.is_ready %}
    {% if not order.is_sent %}
      {% url 'order_sent_confirmation' order.id as sent_url %}
      {% include "items/includes/button_link.html" with button_url=sent_url button_value="Відправлено" only %}
    {% endif %}
  {% else %}
    {% url 'order_ready_confirmation' order.id as ready_url %}
    {% include "items/includes/button_link.html" with button_url=ready_url button_value="Готово" only %}
  {% endif %}

  {% if request.user.is_staff %}
    {% url 'order_delete' order.id as delete_url %}
    {% include "items/includes/button_link.html" with button_url=delete_url button_value="Видалити" only %}
  {% endif %}
</div>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="two columns">Дата замовлення:</div>
  <div class="ten columns"><h5>{{ order.order_date|date:'d.m.Y / F d (l)' }}</h5></div>
</div>

<div class="row">
  <div class="two columns">Виріб:</div>
  <div class="ten columns"><h5>{{ order.product }}</h5></div>
</div>

<div class="row">
  <div class="two columns">Кількість:</div>
  <div class="ten columns"><h5>{{ order.quantity|floatformat }}</h5></div>
</div>

{% if order.notes %}
<div class="row">
  <div class="two columns">Примітка:</div>
  <div class="ten columns"><h5>{{ order.notes }}</h5></div>
</div>
{% endif %}

{% if order.is_sent %}
<div class="row">
  <div class="two columns">Дані про відправлення:</div>
  <div class="ten columns"><h5>{{ order.sent_notes|linebreaks }}</h5></div>
</div>
{% endif %}

{% if not order.is_paid and request.user.is_staff %}
<div class="row">
  <div class="two columns">.</div>
    {% url 'order_paid_confirmation' order.id as paid_url %}
    {% include "items/includes/button_link.html" with button_url=paid_url button_value="Оплачено" only %}
</div>
{% endif %}

{% endblock content %}
