{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Загальна інформація - {{ category.name }}{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="ten columns">
    <h5>{{ product.title }} {{ product.part_number }}</h5>
    <p class="clarifying">{{ product.notes }}</p>
  </div>
  {% if not product.related_to_any_order or request.user.is_staff %}
    {% url 'product_delete' product.id as delete_url %}
    {% include "items/includes/button_link.html" with button_url=delete_url button_value="Видалити" only %}
  {% endif %}
</div>
{% endblock header %}

{% block content %}

{% include "items/includes/svg_warning_icon.html" %}

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Найменування</th>
        <th>Індекс</th>
        <th>Примітка</th>
        <th>Вага, кг</th>
        <th>Кількість</th>
      </tr>
    </thead>
    <tbody>
      {% for component in components %}
        <tr>
          <td>
            <a href="{% url 'item_detail' component.item.id %}">
              {{ component.item.title }}
            </a>
          </td>
          <td>{{ component.item.part_number }}</td>
          <td class="notes">{{ component.item.notes }}</td>
          {% with component.item.weight as weight %}
          <td>{% if weight %}{{ weight|floatformat:3 }}{% endif %}</td>
          {% endwith %}
          <td>{{ component.quantity|floatformat }}</td>
        </tr>
      {% endfor %}
        <tr class="highlighted">
          <td colspan="3">Загальна вага, кг</td>
          {% if product.weight_is_correct %}
          <td>{{ product.weight|floatformat:3 }}</td>
          {% else %}
          <td class="alert">
            {{ product.weight|floatformat:3 }}
            <svg height="24" width="25"><use xlink:href="#warning" /></svg>
          </td>
          {% endif %}
          <td></td>
        </tr>
    </tbody>
  </table>
</div>

{% endblock content %}
