{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Перелік виробів{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="six columns"><h5>Перелік виробів</h5></div>
  <div class="three columns">
    <a class="button button-primary u-full-width"
       href="{% url 'product_create' %}">Додати новий виріб</a>
  </div>
  <div class="three columns">
    <a class="button button-primary u-full-width"
       href="{% url 'product_create_std_cable' %}">Додати стандартний трос</a>
  </div>
  <div class="three columns">
    <a class="button button-primary u-full-width"
       href="{% url 'product_create_tza_cable' %}">Додати трос ТЗА</a>
  </div>
  <div class="three columns">
    <a class="button button-primary u-full-width"
       href="{% url 'product_create_b_cable' %}">Додати трос Богдан</a>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="u-full-width">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Найменування</th>
          <th>Індекс</th>
          <th>Примітка</th>
          <th>Вага, кг</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>
              <a class="item_link"
                 href="{% url 'product_detail' product.id %}">
                {{ product.title }}
              </a>
            <td>{{ product.part_number }}</td>
            </td>
            <td class="notes">{{ product.notes }}</td>
            <td>{{ product.weight }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}