{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% load items_filters %}

{% block meta_title %}Додати новій виріб{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="nine columns"><h5>Додати новий виріб</h5></div>
</div>
{% endblock header %}

{% block content %}
<form  action="{% url 'product_create' %}" method="post" class="create-product">

  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="row">
    <div class="two columns">{{ form.title.label_tag }}</div>
    <div class="seven columns">{{ form.title|addclass:"u-full-width" }}</div>
    <div class="three columns error">{{ form.title.errors }}</div>
  </div>

  <div class="row">
    <div class="two columns">{{ form.part_number.label_tag }}</div>
    <div class="seven columns">{{ form.part_number|addclass:"u-full-width" }}</div>
    <div class="three columns error">{{ form.part_number.errors }}</div>
  </div>

  <div class="row">
    <div class="two columns">{{ form.notes.label_tag }}</div>
    <div class="seven columns">{{ form.notes|addclass:"u-full-width" }}</div>
    <div class="three columns error">{{ form.notes.errors }}</div>
  </div>

  {% for category, items_fields in form.get_form_data.items %}
  <div class="row">
    <div class="u-full-width category">{{ category }}</div>
    <table class="u-full-width hidden_at_start">
      <thead>
        <tr>
          <th>Найменування</th>
          <th>Індекс</th>
          <th>Примітка</th>
          <th>Кількість</th>
        </tr>
      </thead>
      <tbody>
        {% for item, field in items_fields %}
        <tr>
          <td><a href="{% url 'item_detail' item.id %}">{{ item.title }}</a></td>
          <td>{{ item.part_number }}</td>
          <td class="notes">{{ item.notes }}</td>
          <td>{{ field.name|addclass:"table-input" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}

  {% include "items/includes/button.html" with button_value="Додати новий виріб" %}

</form>
{% endblock content %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
          crossorigin="anonymous">
  </script>
  <script src="{{ PORTAL_URL }}{% static 'js/main_wdb.js' %}"></script>
{% endblock extra_js %}
