{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Додати новій виріб{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
    <div class="nine columns"><h5>Додати новий виріб</h5></div>
</div>
{% endblock header %}

{% block content %}

<form  action="{% url 'product_create' %}" method="post">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="row">
        <div class="two columns">{{ form.title.label_tag }}</div>
        <div class="ten columns">{{ form.title }}</div>
        {{ form.title.errors }}
    </div>

    <div class="row">
        <div class="two columns">{{ form.part_number.label_tag }}</div>
        <div class="ten columns">{{ form.part_number }}</div>
        {{ form.part_number.errors }}
    </div>

    <div class="row">
        <div class="two columns">{{ form.notes.label_tag }}</div>
        <div class="ten columns">{{ form.notes }}</div>
        {{ form.notes.errors }}
    </div>

    <div class="row">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Найменування</th>
                    <th>Індекс</th>
                    <th>Примітка</th>
                    <th>Кількість</th>
                </tr>
            </thead>
            <tbody>
                {% for item, field in form.fields_items %}
                <tr>
                    <td>
                        <a href="{% url 'item_details' item.id %}">{{ item.title }}</a>
                    </td>
                    <td>
                        {{ item.part_number }}
                    </td>
                    <td class="notes">
                        {{ item.notes }}
                    </td>
                    <td>
                        {{ field.name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="three columns">
            <input class="button-primary" type="submit" value="Додати новий виріб">
        </div>
    </div>

</form>

{% endblock content %}