{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Стандартні вироби{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="eight columns"><h5>Стандартні вироби</h5></div>
</div>
{% endblock header %}

{% block content %}
<div class="row">
  <div class="three columns">
      <a class="button button-primary u-full-width"
         href="{% url 'create_std_product' 7 %}">Додати стандартний трос (#3)</a>
  </div>
</div>
<div class="row">
  <div class="three columns">
      <a class="button button-primary u-full-width"
         href="{% url 'create_std_product' 0 %}">Додати стандартний трос (#4, #6)</a>
  </div>
  <div class="three columns">
      <a class="button button-primary u-full-width"
         href="{% url 'create_std_product' 1 %}">Додати тянучий трос #4</a>
  </div>
</div>
<div class="row">
  <div class="three columns">
      <a class="button button-primary u-full-width"
         href="{% url 'create_std_product' 3 %}">Додати трос Богдан</a>
  </div>
</div>
<div class="row">
  <div class="three columns">
      <a class="button button-primary u-full-width"
         href="{% url 'create_std_product' 2 %}">Додати трос ТЗА</a>
  </div>
</div>
<div class="row">
  <div class="three columns">
      <a class="button button-primary u-full-width"
         href="{% url 'create_std_product' 4 %}">Додати трос МТЗ</a>
  </div>
  <div class="nine columns">
      <p class="clarifying">Троса управління гідророзподільником</p>
  </div>
</div>
<div class="row">
  <div class="three columns">
      <a class="button button-primary u-full-width"
         href="{% url 'create_std_product' 5 %}">Додати трос УВУ</a>
  </div>
</div>
<div class="row">
  <div class="three columns">
    <a class="button button-primary u-full-width"
       href="{% url 'create_std_product' 6 %}">Додати трос ПТЗ</a>
  </div>
    <div class="three columns">
      <a class="button button-primary u-full-width"
         href="{% url 'create_ptz_shifter' %}">Додати шифтер ПТЗ</a>
  </div>
</div>
{% endblock content %}
