{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Інструменти{% endblock meta_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/print_wdb.css' %}" />
{% endblock extra_css %}

{% block subnavigation %}
  <div class="row no-print" id="navigation">
    <div class="ten columns">
      <ul class="nav-menu">
        <li role="presentation">
          <a href="{% url 'tool_list_by_dates' %}">Інструменти по датах</a>
        </li>
      </ul>
    </div>
    {% url 'tool_create' as create_url %}
    {% include "items/includes/button_link.html" with button_url=create_url button_value="Додати" only %}
  </div>
{% endblock subnavigation %}

{% block content %}

{% include "items/includes/svg_warning_icon.html" %}

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th class="no-print">-</th>
        <th>Найменування</th>
        <th>Примітка</th>
        <th>Кількість</th>
        <th class="no-print"></th>
      </tr>
    </thead>
    <tbody>
      {% for tool in tools %}
      <tr>
        <td class="no-print">
          <a href="{% url 'toolchange_create' tool.id %}">&plusmn;</a>
        </td>
        <td>
          <a href="{% url 'tool_detail' tool.id %}">{{ tool.title }}</a>
        </td>
        <td class="notes">{{ tool.notes }}</td>
        {% if tool.current_total < tool.critical_qty %}
        <td class="alert">{{ tool.current_total|floatformat }}</td>
        <td class="no-print"><svg height="24" width="25"><use xlink:href="#warning" /></svg></td>
        {% else %}
        <td>{% if tool.current_total %}{{ tool.current_total|floatformat }}{% endif %}</td>
        <td class="no-print"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
