{% extends 'talks_keeper/_base.html' %}

{% block meta_title %}Підприємства / {{ country }}{% endblock meta_title %}

{% block header %}
<div class="row header">
  <div class="four columns">
    <div class="navigation">
      <a href="{% url 'country_list' %}">Країни</a>
    </div>
  </div>
  <div class="five columns">
    <div class="navigation">
      <a href="{% url 'label_list' %}">Мітки</a>
    </div>
  </div>
  <div class="three columns">
    <a class="button u-full-width"
      href="{% url 'company_create' country.id %}">Додати підприємство
    </a>
  </div>
  <h4>Підприємства / {{ country }}</h4>
</div>
{% endblock header %}

{% block content %}
<ul>
  {% for company in companies %}
  <li>
    <a href="{% url 'company_detail' company.id %}">
      {{ company.short_name}} - {{ company.full_name }}
    </a>
  </li>
  {% empty %}<li>Жодне підприємство ще не додане</li>{% endfor %}
</ul>
{% endblock content %}
