{% extends 'talks_keeper/_base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Додати розмову{% endblock meta_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/datepicker.min.css' %}" />
{% endblock extra_css %}

{% block header %}
<div class="row header">
	<h4>Додати розмову</h4>
</div>
{% endblock header %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% include "talks_keeper/includes/render_fields.html" %}
  {% include "talks_keeper/includes/button.html" with button_value="Готово" %}
</form>
{% endblock content %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
  <script src="{{ PORTAL_URL }}{% static 'js/datepicker.min.js' %}"></script>
  <script>
    $('#id_date').datepicker({
      language: {
        days: ['Неділя','Понеділок','Вівторок','Середа','Четвер','Пятниця','Субота'],
        daysShort: ['Нед','Пон','Вів','Сер','Чет','Пят','Суб'],
        daysMin: ['Нд','Пн','Вт','Ср','Чт','Пт','Сб'],
        months: ['Січень','Лютий','Березень','Квітень','Травень','Червень','Липень','Серпень','Вересень','Жовтень','Листопад','Грудень'],
        monthsShort: ['Січ','Лют','Бер','Кві','Тра','Чер','Лип','Сер','Вер','Жов','Лис','Гру'],
        today: 'Сьогодні',
        clear: 'Очистити',
        dateFormat: 'yyyy-mm-dd',
        timeFormat: 'hh:ii',
        firstDay: 1,
      },
      maxDate: new Date(),
      timepicker: true,
    });
  </script>
{% endblock extra_js %}
