{% extends 'items/base.html' %}

{% load static from staticfiles %}

{% load items_filters %}

{% block meta_title %}Додати трос МТЗ{% endblock meta_title %}

{% block header %}
<div class="row" id="header">
  <div class="nine columns"><h5>Додати трос МТЗ</h5></div>
</div>
{% endblock header %}

{% block content %}

<form  action="" method="post"  class="h-cable">

{% csrf_token %}

{{ form.non_field_errors }}

  {% for field in form.visible_fields %}
  <div class="row">
    <div class="two columns">{{ field.label_tag }}</div>
    <div class="seven columns">
      {% if field is not form.is_st_rod_e %}
        {{ field|addclass:"u-full-width" }}
      {% else %}
        {{ field }}
      {% endif %}
    </div>
    <div class="three columns error">{{ field.errors }}</div>
  </div>
  {% endfor %}

  <div class="row">
    <div class="two columns">.</div>
    <div class="three columns">
      <input class="button-primary" type="submit" value="Створити">
    </div>
  </div>

</form>

{% endblock content %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
  <script src="{{ PORTAL_URL }}{% static 'js/main.js' %}"></script>
{% endblock extra_js %}
