@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('../fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('../fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('../fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}


/* global styles */
body {
    font-family: 'Fantasque Sans Mono', 'Ubuntu Mono', sans-serif;
}

a {
    text-decoration: none;
}

h4 {
    padding-left: 10px;
}

form {
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
}

.navigation {
    margin-bottom: 15px;
}

.button.button-danger,
input[type="submit"].button-danger {
    color: #FFF;
    background-color: #FF0000;
    border-color: #FF0000;
}
.button.button-danger:hover,
input[type="submit"].button-danger:hover {
    color: #FFF;
    background-color: #DF0101;
    border-color: #DF0101;
}

.button {
    padding: 0;
    font-size: 14px;
}

.header {
    margin-top: 20px;
}

.our-talk, .not-our-talk {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.our-talk {
    background-color: #99a9b3;
    color: #FFFFFF;
    border-radius: 5px;
}

.not-our-talk {
    border-top: solid 1px #dbe2e6;
}

.icons {
    display: none;
}

.date {
    padding-bottom: 3px;
}

.our-talk .date {
    border-bottom: solid 1px #FFFFFF;
}

.not-our-talk .date {
    border-bottom: solid 1px #99a9b3;
}

.our-talk:hover .icons,
.not-our-talk:hover .icons {
    display: block;
}

textarea.text {
    height: initial;
    min-height: 38px;
}
