@import 'https://fonts.googleapis.com/css?family=Scada';


/* global styles */
body {
    font-family: 'Scada', 'Ubuntu Condensed', sans-serif;
}

a {
    text-decoration: none;
}

form {
    margin-bottom: 0;
}

abbr[title] {
    border-bottom: none;
}

h5 {
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
}

.row {
    padding-top: 10px;
}

.error, .errorlist {
    color: red;
}

.button.button-danger,
input[type="submit"].button-danger {
    color: #FFF;
    background-color: #c2561a;
    border-color: #c2561a;
}
.button.button-danger:hover,
input[type="submit"].button-danger:hover {
    color: #FFF;
    background-color: #da611e;
    border-color: #da611e;
}

.button {
    padding: 0;
}

.hidden_at_start {
    display: none;
}


/* navigation styles */
#navigation {
    border-bottom: 1px solid #e1e1e1;
}

ul.nav-menu {
    /*border-bottom: 1px solid #e1e1e1;*/
    font-size: 18px;
    margin-bottom: 0;
}

ul.nav-menu li {
    display: inline;
    margin-right: 25px;
}

ul.nav-menu a {
    text-decoration: none;
}

li.nav-active a {
    color: #444;
    border-bottom: 1px dotted #666;
}


/* header styles */
#header {
    padding-top: 10px;
}

/* tables styles */
table {
    font-size: 16px;
}

th, td {
    padding: 5px 10px;
}

th:first-child, td:first-child {
    padding-left: 15px;
}

thead {
    background-color: #444;
    color: #fff;
}

tbody tr:hover {
    background-color: #eee;
}

.item_link {
    font-weight: bold;
}

.table-input {
    margin-bottom: 0;
}

.notes {
    font-size: 0.8em;
    color: #bbb;
}
