/* global styles */
body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

a.item_details {
    text-decoration: none;
    font-weight: bold;
}

.error {
    color: red;
}

/* header styles */
#header {
    margin-top: 15px;
}

/* tables styles */
table {
    font-size: 16px;
}

th:first-child, td:first-child {
    padding-left: 15px;
}

thead {
    background-color: #444;
    color: #fff;
}

tbody tr:hover {
    background-color: #eee;
}
