@import 'https://fonts.googleapis.com/css?family=Scada';


/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {font-family: 'Scada', 'Ubuntu Condensed', sans-serif;}

a {text-decoration: none;}

form {margin-bottom: 0;}

abbr[title] {border-bottom: none;}

h5 {margin-bottom: 10px;}

.container {max-width: 1200px;}

.row {padding-top: 10px;}

.error, .errorlist {color: red;}

.category {
    background-color: #e1e1e1;
    padding: 5px 0 5px 15px;
    border-radius: 4px;
    cursor: pointer; }

.button.button-danger,
input[type="submit"].button-danger {
    color: #FFF;
    background-color: #FF0000;
    border-color: #FF0000; }

.button.button-danger:hover,
input[type="submit"].button-danger:hover {
    color: #FFF;
    background-color: #DF0101;
    border-color: #DF0101; }

.button {padding: 0;}

.hidden_at_start {display: none;}

.highlighted {background-color: #eee;}

svg {
    vertical-align: middle;
    float: right; }


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#navigation {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px; }

ul.nav-menu {
    font-size: 18px;
    margin-bottom: 0; }

ul.nav-menu li {
    display: inline;
    margin-right: 25px; }

li.nav-active a {
    color: #888;
    border-bottom: 4px solid #e1e1e1; }


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {padding-top: 10px;}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {font-size: 16px;}

th, td {padding: 5px 10px;}

th:first-child, td:first-child {padding-left: 15px;}

td.alert {color: #FF0000;}

thead {
    background-color: #444;
    color: #fff; }

tbody tr:hover {background-color: #eee;}

tr.is-paid {background-color: #ffffae;}
tr.is-paid:hover {background-color: #fdfd5d;}

.table-input {
    margin-bottom: 0;
    float: right; }

.notes {
    font-size: 0.8em;
    color: #bbb; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 400px) {
    .container {
        width: 100%; }}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .container {
        width: 100%; }}