/* global styles */
body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
}

.error {
    color: red;
}

.button {
    padding: 0;
}

/* navigation styles */
ul.nav-menu {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
}

ul.nav-menu li {
    display: inline;
    margin-right: 25px;
}

ul.nav-menu a {
    text-decoration: none;
}

li.nav-active a {
    color: #444;
}

/* header styles */
#header {
    margin-top: 15px;
}

/* tables styles */
table {
    font-size: 16px;
}

th, td {
    padding: 5px 10px;
}

th:first-child, td:first-child {
    padding-left: 15px;
}

thead {
    background-color: #444;
    color: #fff;
}

tbody tr:hover {
    background-color: #eee;
}

.item_link {
    font-weight: bold;
}
